.App {
  text-align: center;
  border: 1px solid black;
  height: 98vh;
  font-family: cursive;
  overflow-x: auto;
  overflow-y: auto;
}

.Input {
  margin: 0.5rem;
}

.DeleteButton {
  color: red;
}

.DeleteButton:hover {
  cursor: pointer;
}

.ButtonContainer {
  margin-top: 1rem;
}

.Button {
  margin-left: 2rem;
  margin-right: 2rem;
}

.ColorTagContainer {
  border: 1px solid black;
  width: 19.75rem;
  height: 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.ColorTagContainer:hover {
  cursor: pointer;
}

.ColorTag {
  border: 1px solid black;
  width: 3.25rem;
  height: 1.25rem;
  margin: 0.1rem;
}

.Arrow {
  position: fixed;
  left: 20rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.Up {
  transform: rotate(-135deg);
}

.Down {
  transform: rotate(45deg);
}

.ColorTagOptions {
  position: fixed;
  top: 12.965rem;
}
